    </div>
  </div></div>

<div id="footer">
  <a class="footlogo" href="/">npm</a>

  <ul>
    <li><a href="/">npm Registry</a>
    <li><a href="/doc/">Documentation</a>
    <li><a href="https://raw.github.com/isaacs/npm/master/LICENSE">License</a>
    <li><a href="https://github.com/isaacs/npm-www/issues">Website Issues</a>
    <li><a href="http://nodejs.org/">Node.js Home</a>
    <li><a href="http://blog.nodejs.org/">Blog</a>
  </ul>

  <div class="poweredby">
    <h2>Powered By:</h2>
    <ul>
      <li class="joyent">
        <a href="http://joyent.com/"><img src="/static/joyent-footer.png"
        alt="Joyent"
        height=32 width=88></a>
      <li class="nodejitsu">
        <a href="http://nodejitsu.com/"><img src="/static/nodejitsu-footer.png"
        alt="Nodejitsu"
        height=32 width=115></a>
    </ul>
  </div>
</div>

<small class="heart">npm loves you</small>

<script src="/static/sh_main.js"></script>
<script src="/static/sh_javascript.min.js"></script>
<script>highlight(undefined, undefined, 'pre');</script>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga')
ga('create','UA-47041310-1','npmjs.org')
ga('send','pageview')</script>
<!-- <%= stamp %> -->
