<nav>
  <ul>
    <li class="npm current">
      <a href="/">Home</a>
    </li>
    <li class="docs">
      <a href="http://npmjs.org/doc/">API</a>
    </li>
    <li class="blog">
      <a href="http://blog.npmjs.org/">Blog</a>
    </li>
    <li class="jobs">
      <a href="mailto:jobs@npmjs.com">Jobs</a>
    </li>
    <li class="home">
      <a href="http://nodejs.org/">Node.js</a>
    </li>
  </ul>
</nav>
